<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.interfaces.ICreateOrdersDao">

    <resultMap id="selectCreateOrdersByPhoneMap" type="CreateOrders">
        <id column="cono" property="cono"></id>
        <result property="corderDate" column="corderDate"></result>
        <result property="coinvoice" column="coinvoice"></result>
        <result property="cordesc" column="cordesc"></result>
        <result property="costatus" column="costatus"></result>
        <result property="paystatus" column="paystatus"></result>
        <association property="Orders" javaType="orders">
            <id column="orderid" property="orderid"></id>
            <result property="mphone" column="mphone"></result>
            <result property="gid" column="gid"></result>
            <result property="ocount" column="ocount"></result>
            <result property="osumprice" column="osumprice"></result>
            <result property="cono" column="cono"></result>
            <result property="ostate" column="ostate"></result>
        </association>
    </resultMap>

    <select id="selectCreateOrdersByPhone" resultMap="selectCreateOrdersByPhoneMap" parameterType="java.util.Map">
        select * from CreateOrders as c join Orders as o on c.cono=o.cono
        <where>
            o.mphone=#{mphone} and costatus=#{costatus}
            <if test="paystatus!=null and paystatus!=''">
                and paystatus=#{paystatus}
            </if>
        </where>
    </select>

    <insert id="initOneCreateOrders" parameterType="java.util.Map">
        insert into CreateOrders(cono,cordesc)values(
            #{cono},#{cordesc}
        );
    </insert>

    <!--
        待发货
    -->
    <update id="updatePendingShipmentByCono" parameterType="string">
        update CreateOrders set costatus=1 where cono=#{cono}
    </update>

    <!--
        待收货
    -->
    <update id="updatePendingReceiptByCono" parameterType="string">
        update CreateOrders set costatus=2 where cono=#{cono}
    </update>

    <!--
        已完成
    -->
    <update id="updateCompletedByCono" parameterType="string">
        update CreateOrders set costatus=3 where cono=#{cono}
    </update>

    <!--
        售后
    -->
    <update id="updateAfterSaleByCono" parameterType="string">
         update CreateOrders set costatus=4 where cono=#{cono}
    </update>

    <!--
        已取消
    -->
    <update id="cancelOrders" parameterType="string">
         update CreateOrders set paystatus=2 where cono=#{cono}
    </update>

    <!--
        已支付
    -->
    <update id="ordersSuccessPay" parameterType="string">
          update CreateOrders set paystatus=0 where cono=#{cono}
    </update>

    <!--
        检查订单状态
    -->
    <select id="checkOrderPayStatus" parameterType="string" resultType="String">
        select paystatus from createorders where cono=#{cono};
    </select>



    <!--
        查询订单状态
    -->
    <resultMap id="selectAllOrderByMphoneAndStateAndLimitMap" type="CreateOrders">
        <id column="cono" property="cono"></id>
        <result column="corderDate" property="corderDate"></result>
        <result column="coinvoice" property="coinvoice"></result>
        <result column="cordesc" property="cordesc"></result>
        <result column="costatus" property="costatus"></result>
        <result column="paystatus" property="paystatus"></result>
        <collection property="ordersList" ofType="Orders">
            <id property="orderid" column="orderid"></id>
            <result column="gid" property="gid"></result>
            <result column="mphone" property="mphone"></result>
            <result column="ocount" property="ocount"></result>
            <result column="osumprice" property="osumprice"></result>
            <result column="cono" property="cono"></result>
            <result column="ostate" property="ostate"></result>
            <association property="goods" javaType="Goods">
                <id column="gid" property="gid"></id>
                <result property="gno" column="gno"></result>
                <result property="gname" column="gname"></result>
                <result property="gcolor" column="gcolor"></result>
                <result property="gsize" column="gsize"></result>
                <result property="gpic" column="gpic"></result>
                <result property="gnowprice" column="gnowprice"></result>
                <result property="gdesc" column="gdesc"></result>
            </association>
        </collection>
    </resultMap>
    <select id="selectAllOrderByMphoneAndStateAndLimit" parameterType="java.util.Map" resultMap="selectAllOrderByMphoneAndStateAndLimitMap">
            select * from createorders as  co join orders as o join goods as g on o.gid=g.gid
          <where>
              co.cono=o.cono and o.mphone=#{mphone}
              <if test="ostate!='' and ostate!=null">
                  and o.ostate=#{ostate}
              </if>
              <if test="cono!='' and cono!=null">
                  and co.cono=#{cono}
              </if>
              <if test="paystatus!='' and paystatus!=null">
                  and co.paystatus=#{paystatus}
              </if>
          </where>
    </select>

    <!--
        查询该订单下的总价
    -->
    <select id="selectSumPriceByCono" parameterType="string" resultType="int">
        select sum(o.osumprice) from createorders as c join orders as o on c.cono=o.cono where c.cono=#{cono};
    </select>


</mapper>