<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.interfaces.ISalesDao">

    <resultMap id="selectAllSalesVolumeMap" type="Sales">
        <result property="saleMonth" column="saleMonth"></result>
        <result property="saleCount" column="saleCount"></result>
        <result property="saleSumprice" column="saleSumprice"></result>
    </resultMap>
    <!--年度销售情况-->
    <select id="selectAllSalesVolume" parameterType="java.util.Map" resultMap="selectAllSalesVolumeMap">
        select month(co.corderDate) as saleMonth,sum(o.ocount) as saleCount,sum(o.osumprice) as saleSumprice from
        createorders as co join orders as o on co.cono=o.cono
        where co.paystatus=0 and year(co.corderDate)=#{yourMonth} group by month(co.corderDate);
    </select>


    <resultMap id="selectOneDaySalesVolumeMap" type="DaySales">
        <result property="gname" column="gname"></result>
        <result property="osumprice" column="osumprice"></result>
    </resultMap>

    <!--每日销售情况-->
    <select id="selectOneDaySalesVolume" parameterType="java.util.Map" resultMap="selectOneDaySalesVolumeMap">
        select g.gname,o.osumprice,co.corderDate from orders as o join goods as g on o.gid=g.gid
        join createorders as co on o.cono=co.cono group by o.cono
        having day(co.corderDate)=#{myday} order by o.osumprice desc limit 0,5;
    </select>
</mapper>