* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #666;
}

html,
body {
    width: 100%;
    height: 100%;
}

div {

}

#maxdiv,
#maxdivcontainer {
    max-width: 1024px;
    height: 550px;
    margin: 0 auto;
    position: relative;
    #maxdivcontainer {
        //超出部分滚动条
        overflow: auto;

        .section-address{
            padding: 12px 15px;
            background-color: #fff;
            overflow: hidden;
            border-bottom: 10px solid #F1F1F1;
            .section-address-label{
                width: 105px;
                font-size: 16px;
                line-height: 22ph;
                color: #000;
                font-weight: 500;
                float: left;
                position: relative;
                top: 10px;
            }
            .section-address-detail{
                display: inline-block;
                font-size: 13px;
                line-height: 18px;
                color: #000;
                width: 80%;
               padding-right: 70px;
                float: left;
                .EcArea{
                        margin-top: 10px;
                }
                .chooseMoreAddress{
                    font-size: 20px;
                    color: #000;
                    float: right;
                    position: relative;
                    top: -13px;
                    cursor: pointer;
                }
            }
        }
        
        .PageCheckoutPartItems{
            margin-top: 10px;
            background: #fff;
            padding-left: 15px;
            border-bottom: 10px solid #F1F1F1;
            .oneGoods{
                 margin-top: 20px;
                 .image-wrap{
                  width: 120px;
                  height: 120px;
                  margin-right: 25px;
                  position: relative;
                  left: 30px;
                  img{
                    width: 100%;
                    height: 100%;
                  }
                  .image-wrap-right{
                    //写成响应式
                    width: 600%;
                    position: absolute;
                    top: 10px;
                    left: 140px; 
             
                    .options{
                      margin: 10px 0px;
                      padding: 7px 32px 7px 13px;
                      background-color: #f2f2f2;
                      border-radius: 16px;
                      font-size: 12px;
                      color: #616161;
                      line-height: 18px;
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis; 
                    }
                    .quantity{
                        width: 100px;
                        float: right;
                    }
                  }
                  #image-wrap-right-pricediv{
                    font-size: 17px;
                    line-height: 22px;
                    color: #000;
                    letter-spacing: -.15px;
                    font-weight: 500;
                    vertical-align: baseline;
                  }
                  .image-wrap-right span{
                      padding-top: 10px;
                  }
                 }
            }
        }
        
        .PageCheckoutPartTotal{
            padding: 12px 15px;
            margin-top: 10px;
            background-color: #fff;
            overflow: hidden;
            border-top: 10px solid #F1F1F1;
                        .section-address-label{
                width: 105px;
                font-size: 16px;
                line-height: 22ph;
                color: #000;
                font-weight: 500;
                float: left;
                position: relative;
                top: 10px;
            }
            .section-address-detail{
                display: inline-block;
                font-size: 13px;
                line-height: 18px;
                color: #000;
                width: 80%;
               padding-right: 70px;
                float: left;
                #kuaditip{
                    float: right;
                }
                .EcArea{
                    margin-top: 10px;
                    #kuadimoney{
                        float: right;
                    }
                }
                .chooseMoreAddress{
                    font-size: 20px;
                    color: #000;
                    float: right;
                    position: relative;
                    top: -13px;
                    cursor: pointer;
                }
            }
        }
        
        .section-payment{
            padding: 12px 15px;
            margin-top: 10px;
            background-color: #fff;
            overflow: hidden;
            border-top: 10px solid #F1F1F1;
            .section-address-label{
                width: 105px;
                font-size: 16px;
                line-height: 22ph;
                color: #000;
                font-weight: 500;
                float: left;
                position: relative;

            }
            .chooseOtherPaytype{
                font-size: 20px;
                color: #000;
                float: right;
                position: relative;
                right: 40px;
                top: -1px;
                cursor: pointer;
            }
            #paytype{
                float: right;
                position: relative;
                right: 120px;
            }
        }
        
        #payfordiv{
            width: 99%;
            height: 400px;
            background: #FFFFFF;
            display: none;
            position: absolute;
            top: 410px;
            z-index: 99;
            .heading{
                margin-left: 15px;
                padding-top: 15px;
                padding-bottom: 15px;
                padding-right: 15px;
                border-bottom: .5px solid #ebebeb;
                font-size: 14px;
                line-height: 20px;
                color: #999;
                letter-spacing: .26px;
            }
            .zhifubao,.weixin{
                margin-left: 15px;
                padding-right: 24px;
                padding-top: 25px;
                padding-bottom: 25px;
                border-bottom: .5px solid #f7f7f7;
                .payname{

                    font-size: 15px;
                    line-height: 21px;
                    color: #000;
                    letter-spacing: .28px
                }
                .brief{
                    margin-top: 3px;
                    font-size: 12px;
                    line-height: 17px;
                    color: #999;

                    letter-spacing: .22px
                }
                img{
                    position: absolute;
                    width: 30px;
                    height: 30px;
                }
                p{
                    position: relative;
                    left: 100px;
                    width: 70%;
                }
                i{
                    float: right;
                    position: relative;
                    top: -24px;
                    left: -20px;
                    z-index: 99;
                    color: #7f0019;
                    
                    cursor:pointer;
                }
            }
            .mu-button{
                width: 98%;
                  margin-left: 10px;
                  min-height: 44px;
                  border: 0 solid rgba(0, 0, 0, 0);
                  background: #7f0019;
                  font-size: 16px;
                  color: #fff;
                  font-weight: 700;
                  line-height: 22px;
                  border-radius: 22px;
                  cursor: pointer; 
                  margin-top: 50px;
            }
        }
    }
}

#footbar-wrap {
    width: 100%;
    height: 75px;
    position: relative;
    .PageCommodityDetailPartActions {
        width: 92%;
        height: 100%;
        position: absolute;
        padding: 15px;
        .part-actions-wrap {
            .chooseSelectAll{
                input{
                    width: 17px;
                    height: 17px;
                }
                padding: 8px;
                font-size: 20px;
                #countGoods{
                    margin-left: 30px;
                }
                .allPrice{
                    color: #7f0019;
                    width: 140px;
                    height: 23px;
                    float: right;

                }
            }
            .mu-button {
                width: 98%;
                margin-left: 10px;
                min-height: 44px;
                border: 0 solid rgba(0, 0, 0, 0);
                background: #7f0019;
                font-size: 16px;
                color: #fff;
                font-weight: 700;
                line-height: 22px;
                border-radius: 22px;
                cursor: pointer;
            }
        }
    }
}




@media only screen and (max-width:940px){
    #maxdiv #maxdivcontainer .section-address .section-address-label, 
    #maxdivcontainer #maxdivcontainer .section-address .section-address-label,
    #maxdiv #maxdivcontainer .PageCheckoutPartTotal .section-address-label, 
    #maxdivcontainer #maxdivcontainer .PageCheckoutPartTotal .section-address-label{
        top: -8px;
    }
    #maxdiv #maxdivcontainer .PageCheckoutPartItems .oneGoods .image-wrap .image-wrap-right, #maxdivcontainer #maxdivcontainer .PageCheckoutPartItems .oneGoods .image-wrap .image-wrap-right{
        width: 500%;
    }
 #maxdiv #maxdivcontainer .section-address .section-address-detail, #maxdivcontainer #maxdivcontainer .section-address .section-address-detail{
     width: 95%;
 }
 #maxdiv #maxdivcontainer .section-address .section-address-detail .chooseMoreAddress, #maxdivcontainer #maxdivcontainer .section-address .section-address-detail .chooseMoreAddress{
     top: -2px;
 }
 #maxdiv #maxdivcontainer .section-payment #paytype, #maxdivcontainer #maxdivcontainer .section-payment #paytype{
     right: 60px;
 }
 #maxdiv #maxdivcontainer .section-payment .chooseOtherPaytype, #maxdivcontainer #maxdivcontainer .section-payment .chooseOtherPaytype{
     right: -10px;
 }
}
@media only screen and (max-width:450px){
    #maxdiv #maxdivcontainer .PageCheckoutPartItems .oneGoods .image-wrap .image-wrap-right, #maxdivcontainer #maxdivcontainer .PageCheckoutPartItems .oneGoods .image-wrap .image-wrap-right{
        width: 168%;
    }
}
