* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #666;
}

html, body {
    width: 100%;
    height: 100%;
}

.more {
    list-style: none;
    margin-bottom: 15px;
    max-width: 1024px;
    position: relative;
    text-align: right;
    font-size: 14px;
}

#header {
    height: 70px;
    position: relative;
    z-index: 100;
    width: 100%;
    margin: 0 auto;
}

#header .headerWrap {
    width: 90%;
    margin: 0 auto;
    position: relative;
    max-width: 1024px;
    height: 100%;
}

#header .headerWrap .icon {
    z-index: 1001;
    top: 0;
    left: 0;
    margin: 0;
    position: absolute;
    width: 130px;
}

#header .headerWrap .icon .icon2 {
    padding: 15px 0;
    display: block;
    line-height: 1;
    margin-top: 10px;
}

#header .headerWrap .icon .icon2 img {
    max-width: 100%;
    height: auto;
    width: auto;
    border: 0;
    vertical-align: middle;
}

#header .headerWrap ul {
    padding-left: 15%;
    margin: 0;
}

#header .headerWrap ul li {
    display: inline-block;
    list-style: none;
    float: left;
    font-size: 13px;
    padding: 28px 10px;
    line-height: 1;
}

#header .headerWrap ul li i {
    position: relative;
    top: 8px;
}

#header .headerWrap ul li #scarch {
    border-radius: 20px;
    right: 0;
    width: 0px;
    z-index: 1001;
    border: 0;
    background: url(../img/Images/icon_search.png) no-repeat 7px center rgba(0, 0, 0, 0.05);
    background-color: lightgrey;
    background-size: 16px 17px;
    color: #000;
    padding-left: 30px;
    margin-top: -25px;
    margin: 0;
    box-sizing: border-box;
    line-height: 2.3;
    transition: all .7s;
}

#header .headerWrap ul .lastchildli:hover #scarch {
    width: 180px;
}

#header .headerWrap ul li:last-child {
    z-index: 8999;
    margin-top: -10px;
}

#globalHeader {
    display: none;
    height: 70px;
    position: relative;
    z-index: 100;
    width: 100%;
}

#globalHeader .headerWrap {
    width: 100%;
}

#globalHeader .headerWrap #siteName {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

#globalHeader .headerWrap #siteName a {
    padding: 7px 0;
    display: inline-block;
}

#globalHeader .headerWrap #siteName a img {
    width: 145px;
    vertical-align: top;
    padding: 17px;
    border: 0;
}

#globalHeader #hGlobalNav {
    z-index: 1001;
}

#globalHeader #hGlobalNav h1 {
    background: url(../img/Images/menu_b.png) no-repeat center center;
    text-indent: -9999px;
    background-size: 20px 15px;
    position: absolute;
    top: 5px;
    left: 0;
    padding: 27px;
    margin: 0;
    cursor: pointer;
    width: 20px;
    height: 15px;
    z-index: 1001;
}

#globalHeader #hGlobalNav .wrapper {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 16px;
    padding: 0;
    box-sizing: border-box;
}

#globalHeader #search {
    float: right;
    position: relative;
    right: 70px;
    top: 20px;
    z-index: 8999;
}

#globalHeader #search:hover #scarch2 {
    width: 180px;
}

#globalHeader #scarch2 {
    border-radius: 20px;
    right: 0;
    width: 0px;
    z-index: 1001;
    border: 0;
    background: url(../img/Images/icon_search.png) no-repeat 7px center rgba(0, 0, 0, 0.05);
    background-color: lightgrey;
    background-size: 16px 17px;
    color: #000;
    padding-left: 30px;
    margin-top: -25px;
    margin: 0;
    box-sizing: border-box;
    line-height: 2.3;
    transition: all .7s;
}

#main {
    position: relative;
    z-index: 100;
    width: 100%;
    margin: 0 auto;
}

#main #main-content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 1024px;
}

#main #main-content #main-img {
    position: relative;
}

#main #main-content #main-img img {
    width: 100%;
    display: block;
    max-width: 1024px;
    height: auto;
    font-size: 21px;
    position: relative;
}

#main #main-content #main-img .title {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 2;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    color: #fff;
    font-size: 20px;
}

#main #main-content .fourPanels {
    margin: 0 auto;
    list-style: none;
    margin: 15px;
    max-width: 1024px;
    overflow: hidden;
}

#main #main-content .fourPanels li {
    width: 23.5%;
    height: 150px;
    height: auto;
    position: relative;
    box-sizing: border-box;
    margin: 20px 2% 0 0;
    float: left;
}

#main #main-content .fourPanels .lastchid {
    margin-right: 0;
}

#main #main-content #center-product {
    width: 100%;
    margin-bottom: 40px;
    padding: 0;
}

#main #main-content #center-product h3 {
    float: left;
    position: relative;
    top: 10px;
    color: #333;
}

#main #main-content #center-product .productwrap {
    width: 100%;
    overflow: hidden;
    max-width: 1024px;
    margin: 0 auto;
}

#main #main-content #center-product .productwrap .productwrap_ul {
    border-bottom: 1px solid lightgrey;
    overflow: hidden;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

#main #main-content #center-product .productwrap .productwrap_ul li {
    float: left;
    position: relative;
    height: 60px;
    margin: 0 2% 5px 0;
    width: 14.5%;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 12px;
    padding-right: 2px;
    background-color: #fff;
    background-size: auto 40px;
    background-repeat: no-repeat;
    background-position: 8px center;
}

#main #main-content #center-product .productwrap .productwrap_ul li a {
    display: block;
    padding: 0 2px 0 55px;
    min-height: 60px;
    position: relative;
}

#main #main-content #center-product .productwrap .productwrap_ul li a span {
    position: absolute;
    top: 40%;
}

#main #main-content #newItem, #main #main-content #topicItem {
    width: 100%;
    margin-bottom: 40px;
    padding: 0;
    position: relative;
}

#main #main-content #newItem h3, #main #main-content #topicItem h3 {
    float: left;
    position: relative;
    top: 10px;
    color: #333;
}

#main #main-content #newItem .newmore, #main #main-content #topicItem .newmore {
    float: right;
    position: relative;
    top: 10px;
}

#main #main-content #newItem .newItemWrapper, #main #main-content #topicItem .newItemWrapper {
    width: 100%;
    overflow: hidden;
    max-width: 1024px;
    margin: 0 auto;
}

#main #main-content #newItem .newItemWrapper #newItemUl, #main #main-content #topicItem .newItemWrapper #newItemUl {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    overflow: hidden;
}

#main #main-content #newItem .newItemWrapper #newItemUl li, #main #main-content #topicItem .newItemWrapper #newItemUl li {
    width: 15%;
    margin-right: 2%;
    float: left;
}

#main #main-content #newItem .newItemWrapper #newItemUl li a, #main #main-content #topicItem .newItemWrapper #newItemUl li a {
    text-decoration: none;
    color: #666;
}

#main #main-content #newItem .newItemWrapper #newItemUl li a span, #main #main-content #topicItem .newItemWrapper #newItemUl li a span {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
}

#main #main-content #newItem .newItemWrapper #newItemUl li a span img, #main #main-content #topicItem .newItemWrapper #newItemUl li a span img {
    width: 100%;
    height: auto;
}

#main #main-content #newItem .newItemWrapper #newItemUl .lastchid, #main #main-content #topicItem .newItemWrapper #newItemUl .lastchid {
    margin-right: 0;
}

#main #main-content #lab, #main #main-content #active, #main #main-content #showmovie, #main #main-content #zhuanlan {
    width: 100%;
    margin-bottom: 40px;
    padding: 0;
    position: relative;
}

#main #main-content #lab h3, #main #main-content #active h3, #main #main-content #showmovie h3, #main #main-content #zhuanlan h3 {
    float: left;
    position: relative;
    top: 10px;
    color: #333;
}

#main #main-content #lab .newmore, #main #main-content #active .newmore, #main #main-content #showmovie .newmore, #main #main-content #zhuanlan .newmore {
    float: right;
    position: relative;
    top: 10px;
}

#main #main-content #lab .imgwrap, #main #main-content #active .imgwrap, #main #main-content #showmovie .imgwrap, #main #main-content #zhuanlan .imgwrap {
    width: 100%;
    overflow: hidden;
    max-width: 1024px;
    margin: 0 auto;
}

#main #main-content #lab .imgwrap ul, #main #main-content #active .imgwrap ul, #main #main-content #showmovie .imgwrap ul, #main #main-content #zhuanlan .imgwrap ul {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-bottom: 15px;
}

#main #main-content #lab .imgwrap ul li, #main #main-content #active .imgwrap ul li, #main #main-content #showmovie .imgwrap ul li, #main #main-content #zhuanlan .imgwrap ul li {
    width: 32%;
    height: auto;
    margin-right: 2%;
    position: relative;
    box-sizing: border-box;
}

#main #main-content #lab .imgwrap ul li a, #main #main-content #active .imgwrap ul li a, #main #main-content #showmovie .imgwrap ul li a, #main #main-content #zhuanlan .imgwrap ul li a {
    display: block;
    padding: 0;
    min-height: 60px;
    position: relative;
    z-index: 1000;
}

#main #main-content #lab .imgwrap ul li a img, #main #main-content #active .imgwrap ul li a img, #main #main-content #showmovie .imgwrap ul li a img, #main #main-content #zhuanlan .imgwrap ul li a img {
    max-width: 100%;
    height: auto;
    width: auto;
    border: 0;
    vertical-align: middle;
}

#main #main-content #lab .imgwrap ul li a span, #main #main-content #active .imgwrap ul li a span, #main #main-content #showmovie .imgwrap ul li a span, #main #main-content #zhuanlan .imgwrap ul li a span {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 2;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    width: 90%;
    color: #fff;
}

#main #main-content #lab .imgwrap ul .lastchildli, #main #main-content #active .imgwrap ul .lastchildli, #main #main-content #showmovie .imgwrap ul .lastchildli, #main #main-content #zhuanlan .imgwrap ul .lastchildli {
    margin-right: 0;
}

#main #main-content #zhuanlan .label {
    background: transparent;
    padding: 3px;
    font-size: 12px;
    color: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 0;
    font-size: 18px;
}

#main #main-content #zhuanlan .title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 2;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    color: #fff;
}

#main #main-content #information, #main #main-content #qishishengming {
    width: 100%;
    margin-bottom: 40px;
    padding: 0;
    position: relative;
}

#main #main-content #information h3, #main #main-content #qishishengming h3 {
    float: left;
    position: relative;
    top: 10px;
    color: #333;
}

#main #main-content #information .newmore, #main #main-content #qishishengming .newmore {
    float: right;
    position: relative;
    top: 10px;
}

#main #main-content #information .imformation2, #main #main-content #qishishengming .imformation2 {
    width: 100%;
    overflow: hidden;
    max-width: 1024px;
    margin: 0 auto;
}

#main #main-content #information .imformation2 ul, #main #main-content #qishishengming .imformation2 ul {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-bottom: 15px;
}

#main #main-content #information .imformation2 ul li, #main #main-content #qishishengming .imformation2 ul li {
    width: 100%;
    margin-bottom: 10px;
}

#main #main-content #information .imformation2 ul li span, #main #main-content #qishishengming .imformation2 ul li span {
    display: block;
    margin-bottom: 5px;
    font-size: small;
    color: #999;
}

#main #main-content #information .imformation2 ul li a, #main #main-content #qishishengming .imformation2 ul li a {
    text-decoration: none;
    color: #666;
}

#misc {
    padding: 15px 0;
    background: #ebebeb;
    height: 25px;
}

#misc .content {
    width: 90%;
    margin: 0 auto;
    max-width: 1024px;
}

#misc .content ul {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
}

#misc .content ul div {
    float: left;
    margin-right: 10px;
    position: relative;
    top: -8px;
}

#misc .content ul div a {
    display: block;
    text-decoration: none;
    color: #666;
}

#misc .content ul div a img {
    height: 25px;
    width: auto;
}

#misc .content .passport {
    float: right;
}

#misc .content .passport a {
    display: block;
}

#misc .content .passport a img {
    height: 25px;
    padding-left: 10px;
    width: auto;
}

#footer {
    background: #000;
    line-height: 1;
    width: 100%;
}

#footer #footerNav {
    width: 90%;
    margin: 0 auto;
    max-width: 1024px;
}

#footer #footerNav section {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    padding: 0;
}

#footer #footerNav section ul {
    margin: 0;
    margin: 5px 0;
    list-style: none;
    display: block;
    border-bottom: 1px solid white;
    text-align: center;
}

#footer #footerNav section ul li {
    float: left;
    padding-right: 20px;
    box-sizing: border-box;
    display: list-item;
}

#footer #footerNav section ul li a {
    color: #e7e7e7;
    display: inline-block;
    padding: 12px 0;
}

#footer #footerNav section ul li a img {
    width: 18px;
    height: 12px;
    margin-right: 8px;
}

#footer #footerNav section .firstul {
    border-bottom: 1px solid transparent;
}

#footer .another {
    width: 90%;
    margin: 0 auto;
    max-width: 1024px;
}

#footer .another ul {
    padding: 0;
}

#footer .another ul li {
    width: auto;
}

#footer .another ul li span {
    padding: 10px 20px 10px 0;
    display: inline-block;
    color: #888;
}

#footer .another ul li span small {
    font-size: 80%;
}

#footer .another img {
    width: 18px;
    height: 12px;
    margin-right: 8px;
}

@media only screen and (max-width: 1060px) {
    #header {
        display: none;
    }

    #globalHeader {
        display: block;
    }
}

@media screen and (max-width: 660px) {
    #main #main-content #lab .imgwrap ul li,
    #main #main-content #active .imgwrap ul li,
    #main #main-content #showmovie .imgwrap ul li,
    #main #main-content #zhuanlan .imgwrap ul li {
        width: 100%;
        height: auto;
        margin: 0 0 20px 0;
        position: relative;
        box-sizing: border-box;
    }
}

@media only screen and (min-width: 481px) and (max-width: 921px) {
    #main #main-content .fourPanels li {
        width: 48%;
        max-width: 501px;
        height: auto;
    }

    #globalHeader #search {
        display: none;
    }

    #main #main-content #center-product .productwrap .productwrap_ul li,
    #main #main-content #newItem .newItemWrapper #newItemUl li,
    #main #main-content #topicItem .newItemWrapper #newItemUl li {
        width: 23%;
    }
}

@media only screen and (max-width: 480px) {
    #main #main-content #center-product .productwrap .productwrap_ul li,
    #main #main-content #newItem .newItemWrapper #newItemUl li,
    #main #main-content #topicItem .newItemWrapper #newItemUl li {
        width: 30%;
    }

    #main #main-content .fourPanels li {
        width: 100%;
    }
}

/*# sourceMappingURL=index.css.map */
