* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #666;
}

html,
body {
    width: 100%;
    height: 100%;
}

div {

}



#maxdiv,
#maxdivcontainer {
    max-width: 1024px;
    height: 550px;
    margin: 0 auto;
    position: relative;
    #maxdivcontainer {
        //超出部分滚动条
        overflow: auto;
        .swiper-container{
            margin: 0 auto;
            position: relative;
            overflow: hidden;
            list-style: none;
            padding: 0;
            z-index: 1;
            height: 43px;
           
            width: 99%;
            li{
                float: left;
                display: inline-block;
                width: auto;
                line-height: 43px;
                a{
                    padding: 11px 11px;
                    color: lightgray;
                    cursor: pointer;
                }
            }
            .active a{
                color: black;
            }
        }
        .orderDetails{
            width: 99%;
            margin: 0 auto;
            padding-top: 10px;
            padding-bottom: 10px;
            .oneDetails{
                border-top: 10px solid #F2F2F2;

                .orderNo{
                    width: 99%;
                    font-size: 14px;
                    color: #999;
                    letter-spacing: 1.17px;
                    font-weight: 300;
                    border-bottom: .5px solid #b2b2b2;
                    margin: 7px 0px;
                    padding-bottom: 7px;
                    text-indent: 10px;
                    .orderState{
                        float: right;
                        position: relative;
                        right: 10px;
                    }
                }
                .order-item-items-item{
                    padding: 21px 37px 21px 15px;
                    border-bottom: .5px solid #e4e4e6;
                    //BFC
                    overflow: hidden;
                    img{
                        width: 80px;
                        height: 80px;
                        float: left;
                    }
                    .order-item-heading-wrap{
                        display: inline-block;
                        width: 70%;
                        height: 80px;
                        float: left;
                        margin-left: 15px;
                        .name{
                             font-size: 13px;
                            line-height: 18px;
                            color: #030303;
                            letter-spacing: -.15px;
                            .count{
                                float: right;
                            }
                        }
                        .options{
                            font-size: 11px;
                            line-height: 16px;
                            color: #999;
                            letter-spacing: -.13px;
                        }
                        .price{

                            margin-top: 12px;
                            font-size: 13px;
                            line-height: 18px;
                            color: #000;
                            letter-spacing: -.15px;
                            font-weight: 500;
                        }
                    }
                }
                .order-item-total{
                    padding: 20px 38px 20px 23px;
                       width: 85%;

                     border-bottom: .5px solid #e4e4e6;
                    .pay{
                        width: 95%;
                        .orderSumCount{
                            float: right;
                            font-size: 14px;
                            color: #c72a1c;
                            letter-spacing: -.16px;
                            font-weight: 900;
                        }
                    }
                }
                .MuOrderItemActions{
                    padding: 12px 15px;
                    border-top: .5px solid #e4e4e6;
                    overflow: hidden;
                    a{
                        display: inline-block;
                        min-width: 80px;
                        padding: 5px 11px;
                        border: 1px solid #4a4a4a;
                        border-radius: 15px;
                        font-size: 13px;
                        line-height: 18px;
                        color: #4a4a4a;
                        letter-spacing: 1.08px;
                        text-align: center;
                        float: right;
                    }
                    .primary{
                        border-color: #7f0019;
                        color: #7f0019;
                    }
                }
            }
        }
    }
}